body {
    font-family: Istok;
    font-size: 18px;
    line-height: 1.6;
    word-break: break-word;
    background: var(--theme);
    counter-reset: sidenote-counter;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Istok;
}
:root {
    --color: #008073;
    --active-color: #135D66;
    --entry-sections: rgb(245,245,245);
}
.dark {
    --entry-sections: rgb(29,30,32);
}
.social-icons a:hover {
    color: var(--color);
}
.main {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0px;
}
.social-icons a[title='RSS']::after {
    content: 'Follow my RSS feed!';
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.pagination {
    margin-bottom: var(--gap);
}