<div class="notes-section">
  <article class="stage-notes">
      <header class="entry-header">
        <h2 class="entry-hint-parent">
          Let's chat
        </h2>
      </header>
      <footer class="related-footer">
        Got something to say about my post? Send me an email at <a class="email" href="mailto:discuss@unresolved-contradictions.co.uk">discuss@unresolved-contradictions.co.uk</a>.    
      </footer>
  </article>
</div>
{{ if not ( eq .Type `microposts` )}}
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ if $related }}
{{ with $related }}
<div class="notes-section">
    <article class="stage-notes">
        <header class="entry-header">
          <h2 class="entry-hint-parent">
            Something similar
          </h2>
        </header>
        <footer class="related-footer">
            <ul class="related-tags">
                {{ range . }}
                <li>
                    <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                    </a>
                    <span>
                    {{- if not (.Param "hideMeta") }}
                    {{- partial "related_meta.html" . -}}
                    {{- end }}
                    </span>
                </li>
                {{ end }}
            </ul>    
        </footer>
    </article>
</div>
{{ end }}
{{ end }}


{{ $currRellink := substr .RelPermalink 0 -1 }}
{{ $currContent := .Content }}
{{ $backlinks := slice }}
{{ range (where (where (where .Site.Pages ".Section" "in" (slice "notes" "essays")) ".Params.ignore" "!=" "true") "Permalink" "ne" .Permalink) }}
    {{ $found := findRE $currRellink .Content 1 }}
    {{ if $found }}
      {{ $backlinks = $backlinks | append . }}
    {{ end }}
{{ end }}
{{ $relateds := $backlinks }}
{{ if $relateds }}
<div class="notes-section">
    <article class="stage-notes">
        <header class="entry-header">
          <h2 class="entry-hint-parent">
            Backlinks
          </h2>
        </header>
        <footer class="related-footer">
            <ul class="related-tags">
              {{ range first 5 $relateds }}
                <li>
                    <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                    </a>
                    <span>
                    {{- if not (.Param "hideMeta") }}
                    {{- partial "related_meta.html" . -}}
                    {{- end }}
                    </span>
                </li>
              {{ end }}
            </ul>    
        </footer>
    </article>
</div>
{{ end }}
{{ end }}